<launch>
  <!-- Use non-conflicting port (hard-coded in tests) -->
  <arg name="port" default="61245" />

  <!-- Start redis_store -->
  <include file="$(find redis_store)/launch/redis_store.launch">
    <arg name="test_mode" value="true"/>
    <arg name="defaults_path" value="$(find redis_store)/tests/integration/config"/>
    <arg name="db_namespace" value="test"/>
    <arg name="port" default="$(arg port)" />
    <arg name="db" value="0"/>
  </include>
  <param name="redis_namespace" value="test"/>
  <param name="redis_db" value="0"/>
  <param name="redis_port" value="$(arg port)" />

  <param
      name="test_module"
      value="$(find redis_store)/src/"
      />
  <test
      test-name="test_lib"
      pkg="ros_pytest"
      type="ros_pytest_runner"
      />
</launch>
